.mainWrapper
{
   margin-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.mainHeader
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0 40px;
  position: relative;

}

.backArrowIconPosition
{
  position: absolute;
  left: 30px;
  cursor: pointer;
}

.headingStyle
{
  text-align: center;
  color: #7e500bff;
  font-weight: bolder !important;
  margin-bottom: 16px; 
}

.progressCard 
{
  width: 600px;
  padding: 24px; 
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
              0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.progressCard:hover 
{
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2),
              0 8px 24px rgba(0, 0, 0, 0.15);
}

.progressCardHeader
{
  margin-bottom: 16px;
  color: #D32ACB;
}

.progressCardContainer
{
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
}

.progressCardLeftSide
{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.progressCardRow
{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 4px;
}

.progressCardRowHeading
{
  flex-grow: 1;
  font-weight: bolder !important;
}

.progressBar 
{
  flex-grow: 1 !important;
  height: 10px !important;
  border-radius: 5px !important;
  margin-top: 8px !important; 
  background-color: #e0e0e0 !important;
}

.progressBarText
{
  min-width: 30px;
  max-height: 10px;
  font-weight: bolder !important;
  color: #117508; 
}