.messageContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 80vh;
}

/* Scrollbar */
.messageContainer::-webkit-scrollbar {
  width: 8px;
}

.messageContainer::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 10px;
}

.messageContainer::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* Message bubbles */
.messageBubble {
  padding: 8px;
  min-width: 30%;
  gap: 1;
  margin-bottom: 8px;
  position: relative;
  border-radius: 16px;
}

/* Sent (right) */
.sentMessage {
  align-self: flex-end;
  background-color: #bbcff189;
  border-radius: 16px 0 16px 16px;
}

.sentMessage::after {
  content: "";
  position: absolute;
  top: 0;
  right: -9px;
  border-left: 10px solid #bbcff189;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* Received (left) */
.receivedMessage {
  align-self: flex-start;
  background-color: #ccc3c3a5;
  border-radius: 0 16px 16px 16px;
}

.receivedMessage::after {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  border-right: 10px solid #ccc3c3a5;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
